# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Logs
logs
*.log
log/

# OS
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Coverage reports
coverage/
.nyc_output/

# Build outputs
dist/
build/
node_modules/